# /opt/mad-ban-bot/.env — asla git'e commit ETME
# chmod 640, owner: www-data:www-data

# Discord bot token (Developer Portal)
DISCORD_TOKEN=REPLACE_ME

# Site endpoint
SITE_ENDPOINT=https://madcs2.com/update_bans.php
BOT_API_TOKEN=31cioflaz

# Kanal ID'leri (server=code:kanal_id)
CHAN_AWP_BAN=1442472536154833010
CHAN_AWP_GAG=1442472385864532050
CHAN_AIM_BAN=1450937727364370676
CHAN_AIM_GAG=1450937620753547417
CHAN_RED_BAN=1466526485064978701
CHAN_RED_GAG=1466526441821962376

# Loglama seviyesi (info|debug)
LOG_LEVEL=info
